.supersonic-navbar-mock {
    background-color: #00B5FF !important;
    text-align: center;
    font-weight: 600;
}

.gif {
    position: relative;
}

.gif a {
    position: absolute;
    background: url(/icons/gif.png) center center no-repeat;
    height: 120px;
    width: 120px;
    top: 25%;
    left: 30%;
}

.video {
    position: relative;
}

.video a {
    position: absolute;
    display: block;
    background: url(/icons/play.png) center center no-repeat;
    height: 120px;
    width: 120px;
    top: 25%;
    left: 30%;
}

.full-height {
    height: 100vh;
}

.fragment {
    border: 1px solid #ccc;
    color: #555;
}

.fragment h3,
.fragment a {
    color: #369!important;
}
/**
 * Tabs
 * --------------------------------------------------
 * A navigation bar with any number of tab items supported.
 */

.tabs {
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    z-index: 5;
    border-style: solid;
    border-top-width: 1px;
    background-size: 0;
    line-height: 49px;
}

.tabs .tab-item .badge {
    background-color: #444;
    color: #f8f8f8;
}

@media (min--moz-device-pixel-ratio: 1.5),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
    .tabs {
        padding-top: 2px;
        border-top: none !important;
        border-bottom: none;
        background-position: top;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }
}
/* Allow parent element of tabs to define color, or just the tab itself */

.tabs-light > .tabs,
.tabs.tabs-light {
    border-color: #ddd;
    background-color: #fff;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    color: #444;
}

.tabs-light > .tabs .tab-item .badge,
.tabs.tabs-light .tab-item .badge {
    background-color: #444;
    color: #fff;
}
/* Allow parent element to have tabs-top */
/* If you change this, change platform.scss as well */

.tabs-top > .tabs,
.tabs.tabs-top {
    top: 44px;
    padding-top: 0;
    background-position: bottom;
    border-top-width: 0;
    border-bottom-width: 1px;
}

.tabs-top > .tabs .tab-item.tab-item-active .badge,
.tabs-top > .tabs .tab-item.active .badge,
.tabs-top > .tabs .tab-item.activated .badge,
.tabs.tabs-top .tab-item.tab-item-active .badge,
.tabs.tabs-top .tab-item.active .badge,
.tabs.tabs-top .tab-item.activated .badge {
    top: 4%;
}

.tabs-top ~ .bar-header {
    border-bottom-width: 0;
}

.tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    max-width: 150px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue", "Roboto", sans-serif;
    opacity: 0.7;
}

.tab-item:hover {
    cursor: pointer;
}

.tab-item.tab-hidden {
    display: none;
}

.tabs-item-hide > .tabs,
.tabs.tabs-item-hide {
    display: none;
}

.tabs-icon-top > .tabs .tab-item,
.tabs-icon-top.tabs .tab-item,
.tabs-icon-bottom > .tabs .tab-item,
.tabs-icon-bottom.tabs .tab-item {
    font-size: 10px;
    line-height: 14px;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 32px;
}

.tabs-icon-left.tabs .tab-item,
.tabs-icon-left > .tabs .tab-item,
.tabs-icon-right.tabs .tab-item,
.tabs-icon-right > .tabs .tab-item {
    font-size: 10px;
}

.tabs-icon-left.tabs .tab-item .icon,
.tabs-icon-left > .tabs .tab-item .icon,
.tabs-icon-right.tabs .tab-item .icon,
.tabs-icon-right > .tabs .tab-item .icon {
    display: inline-block;
    vertical-align: top;
    margin-top: -0.1em;
}

.tabs-icon-left.tabs .tab-item .icon:before,
.tabs-icon-left > .tabs .tab-item .icon:before,
.tabs-icon-right.tabs .tab-item .icon:before,
.tabs-icon-right > .tabs .tab-item .icon:before {
    font-size: 24px;
    line-height: 49px;
}

.tabs-icon-left > .tabs .tab-item .icon,
.tabs-icon-left.tabs .tab-item .icon {
    padding-right: 3px;
}

.tabs-icon-right > .tabs .tab-item .icon,
.tabs-icon-right.tabs .tab-item .icon {
    padding-left: 3px;
}

.tabs-icon-only > .tabs .icon,
.tabs-icon-only.tabs .icon {
    line-height: inherit;
}

.tab-item.has-badge {
    position: relative;
}

.tab-item .badge {
    position: absolute;
    top: 4%;
    right: 33%;
    right: calc(50% - 26px);
    padding: 1px 6px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
}
/* Navigational tab */
/* Active state for tab */

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    opacity: 1;
}

.tab-item.tab-item-active.tab-item-light,
.tab-item.active.tab-item-light,
.tab-item.activated.tab-item-light {
    color: #fff;
}

.tab-item.tab-item-active.tab-item-stable,
.tab-item.active.tab-item-stable,
.tab-item.activated.tab-item-stable {
    color: #f8f8f8;
}

.tab-item.tab-item-active.tab-item-positive,
.tab-item.active.tab-item-positive,
.tab-item.activated.tab-item-positive {
    color: #387ef5;
}

.tab-item.tab-item-active.tab-item-calm,
.tab-item.active.tab-item-calm,
.tab-item.activated.tab-item-calm {
    color: #11c1f3;
}

.tab-item.tab-item-active.tab-item-assertive,
.tab-item.active.tab-item-assertive,
.tab-item.activated.tab-item-assertive {
    color: #ef473a;
}

.tab-item.tab-item-active.tab-item-balanced,
.tab-item.active.tab-item-balanced,
.tab-item.activated.tab-item-balanced {
    color: #33cd5f;
}

.tab-item.tab-item-active.tab-item-energized,
.tab-item.active.tab-item-energized,
.tab-item.activated.tab-item-energized {
    color: #ffc900;
}

.tab-item.tab-item-active.tab-item-royal,
.tab-item.active.tab-item-royal,
.tab-item.activated.tab-item-royal {
    color: #886aea;
}

.tab-item.tab-item-active.tab-item-dark,
.tab-item.active.tab-item-dark,
.tab-item.activated.tab-item-dark {
    color: #444;
}

.item.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.item.tabs .icon:before {
    position: relative;
}

.tab-item.disabled,
.tab-item[disabled] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.supe-nav-plus-button {
    background-image: url(icons/ios-plus-outline.svg);
}

.loading-box {
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.super-loading-c {
    font-size: 50px;
}

.button .icon {
    left: 5px;
}

.comments ul {
    list-style: circle;
}

.comments li {
    margin-left: 20px;
}