<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title><%= yield.viewName %></title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css" />
  <link rel="stylesheet" href="/app/common/stylesheets/application.css" />
  <link rel="stylesheet" href="/components/angular-material/angular-material.min.css" />
  <link rel="import" href="/components/supersonic/components/import.html">

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/hammerjs/hammer.min.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-touch/angular-touch.min.js"></script>
  <script src="/components/angular-aria/angular-aria.min.js"></script>
  <script src="/components/angular-animate/angular-animate.min.js"></script>
  <script src="/components/angular-material/angular-material.min.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents.js"></script>
  <script src="/components/snoocore/dist/Snoocore-standalone.js"></script>
  <script src="/components/moment/moment.js"></script>
  <script src="/components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
  <script src="/components/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>

  <% _.each(yield.modules, function(module) { %>
  <script src="/app/<%= module %>.js"></script>
  <% }); %>
</head>
<body ng-app="<%= yield.moduleName %>">

<%= yield.view %>

</body>
</html>
