<div ng-controller="drawerController">
    <super-navbar>
        <super-navbar-title>Reddit Reader</super-navbar-title>
    </super-navbar>
    <ul class="list">
        <li class="item" ng-click="openSubreddit('home')">Home</li>
        <li class="item" ng-click="openSubreddit('funny')">Funny</li>
        <super-navigate location="redditreader#login">
            <li class="item" onclick="supersonic.ui.layers.pop();supersonic.ui.drawers.close();">Login</li>
        </super-navigate>
    </ul>
</div>