<meta name="viewport" content="user-scalable=yes, initial-scale=1" />
<div class="padding full-height" ng-controller="imageController">
    <super-navbar>
        <super-navbar-button side="right" ng-click="close()">
            Close
        </super-navbar-button>
    </super-navbar>
    <div ng-if="!item.isGif">
        <img class="full-image" src="{{item.url}}">
    </div>
    <div ng-if="item.isGif" id="gifPlaceHolder">
        <div class="loading-box">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>


</div>