<div class="padding" ng-controller="loginController">
    <super-navbar>
        <super-navbar-title>
            Login
        </super-navbar-title>
    </super-navbar>
    <div ng-if="isLoggedin == 'false'">
        <a class="md-raised md-primary button button-block" ng-click="doLogin()">Login through reddit.com</a>

        <small>You will be redirected to reddit.com to login and create a new session</small>
    </div>
    <div ng-if="isLoggedin == 'true'">
        <a class="md-raised md-primary button button-block" ng-click="doLogout()">Log out</a>
        <p>Login as {{user.name}}</p>
        <p>you session will expire in</p>

    </div>

</div>