<div class="padding" ng-controller="subredditController">
    <super-navbar>
        <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
        <super-navbar-button side="right" ng-click="showCategories()">More</super-navbar-button>
    </super-navbar>

    <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
        <div class="list card item-text-wrap" ng-repeat="child in children | limitTo: limit">
            <div ng-if="child.thumbnail == 'nsfw'">
                <div class="item item-avatar">
                    <h2>NSFW: {{::child.title}}</h2>
                    <p>{{::child.created}} by {{::child.author}}</p>
                </div>
            </div>
            <div ng-if="child.thumbnail !== 'nsfw' && child.thumbnail !== 'self' && !child.isSelf">
                <div class="item item-avatar">
                    <img src="{{::child.thumbnail}}" />
                    <h2>{{::child.title}}</h2>
                    <p>{{::child.created}} by {{::child.author}}</p>
                </div>
            </div>
            <div ng-if="child.isSelf">
                <div class="item item-avatar">
                    <img src="/icons/reddit.png" />
                    <h2>{{::child.title}}</h2>
                    <p>{{::child.created}} by {{::child.author}}</p>
                </div>
            </div>
            <div class="item item-body">
                <div ng-if="child.isImage">
                    <img ng-click="::openModal(child)" class="full-image" src="{{::child.url}}">
                </div>
                <div ng-if="!child.isGallery  && !child.isSelf && child.isGif == true" class="gif">
                    <img ng-click="::openModal(child)" class="full-image" src="{{::child.thumbnail}}" />
                    <a ng-click="::openModal(child)"></a>
                </div>
                <div ng-if="child.isGallery">
                    <div class="fragment item item-avatar" ng-click="::openWebView(child)">
                        <img src="{{::child.thumbnail}}" alt="some description" />
                        <h3>External Link to a Gallery: {{::child.domain}}:
                        </h3>
                        <a>{{::child.url}}</a>
                    </div>
                </div>
                <div ng-if="child.isDomain">
                    <div class="fragment item item-avatar" ng-click="::openWebView(child)">
                        <img src="{{::child.thumbnail}}" alt="some description" />
                        <h3>External Link to {{::child.domain}}:
                        </h3>
                        <a>{{::child.url}}</a>
                    </div>
                </div>
                <div ng-if="child.isSelf">
                    <p>External Link to {{::child.subreddit}}:</p>
                    <a ng-click="::openWebView(child)">{{::child.url}}</a>
                </div>
                <div ng-if="child.isVideo || child.isYoutube" class="video">
                    <img ng-click="::openVideoModal(child)" class="full-image" src="{{::child.thumbnail}}" />
                    <a ng-click="::openVideoModal(child)"></a>
                </div>
                <h2>
                    {{::child.selfText}}
                </h2>
                <h2>
                    <a class="subdued">{{::child.ups}} Ups</a>
                    <a class="subdued">{{::child.num_comments}} Comments</a>
                </h2>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="::vote(child.id, $event)">
                    <i class="icon super-thumbsup"></i> Up
                </a>
                <a class="tab-item" ng-click="showComments(child)">
                    <i class="icon super-chatbox"></i> Comment
                </a>
                <a class="tab-item" ng-click="::share(child)">
                    <i class="icon super-share"></i> Share
                </a>
            </div>
        </div>
    </div>
    <div class="loading-box">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>