<div class="padding" ng-controller="subredditsController">
    <super-navbar>
        <super-navbar-title>
            Sub-Reddits
        </super-navbar-title>
        <super-navbar-button side="right" ng-click="addSubreddit()">
            Add
        </super-navbar-button>
    </super-navbar>
    <div class="list">
        <a class="item item-icon-left item-button-right" href="#" ng-repeat="subreddit in userSubreddits track by $index" ng-click="openSubreddit(subreddit.id)">
            <i class="icon super-social-reddit-outline"></i> {{subreddit.id}}
            <button class="button" ng-click="edit(subreddit, $event, $index)">
                <i class="icon super-edit"></i>
            </button>
        </a>
    </div>
    <div class="list">
        <a class="item item-icon-left" href="#" ng-click="openSubreddit('home')">
            <i class="icon super-social-reddit-outline"></i> Home
        </a>
        <a class="item item-icon-left" href="#" ng-click="openSubreddit('funny')">
            <i class="icon super-happy"></i> Funny
        </a>
        <a class="item item-icon-left" href="#" ng-click="openSubreddit('aww')">
            <i class="icon super-happy"></i> Aww
        </a>
        <a class="item item-icon-left" href="#" ng-click="openSubreddit('sports')">
            <i class="icon super-ios7-football-outline"></i> Sports
        </a>
        <a class="item item-icon-left" href="#" ng-click="openSubreddit('pics')">
            <i class="icon super-images"></i> Pics
        </a>
    </div>
</div>