<div class="padding" ng-controller="videoController">
    <super-navbar>
        <super-navbar-button side="right" ng-click="close()">
            Close
        </super-navbar-button>
    </super-navbar>
    <div ng-if="item.isVideo" class="video">
        <embed-video href="{{item.url}}" height={{height}} width="{{width}}" autoplay="1" rel="0"></embed-video>
    </div>
    <div ng-if="item.isYoutube && isAndroid" class="video">
        <img ng-click="openYoutube(item.url)" class="full-image" src="{{::item.thumbnail}}" />
        <a ng-click="openYoutube(item.url)"></a>
    </div>
    <div ng-if="item.isYoutube && !isAndroid" class="video">
        <embed-video href="{{item.url}}" height={{height}} width="{{width}}" autoplay="1" rel="0"></embed-video>
    </div>
</div>